In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Loading Data
df = pd.read_csv("../data/raw-data.csv", sep=';')
print(df.head())

   Marital status  Application mode  Application order  Course  \
0               1                17                  5     171
1               1                15                  1    9254
2               1                 1                  5    9070
3               1                17                  2    9773
4               2                39                  1    8014

   Daytime/evening attendance\t  Previous qualification  \
0                             1                       1
1                             1                       1
2                             1                       1
3                             1                       1
4                             0                       1

   Previous qualification (grade)  Nacionality  Mother's qualification  \
0                           122.0            1                      19
1                           160.0            1                       1
2                           122.0            1                      37
3                           122.0            1                      38
4                           100.0            1                      37

   Father's qualification  ...  Curricular units 2nd sem (credited)  \
0                      12  ...                                    0
1                       3  ...                                    0
2                      37  ...                                    0
3                      37  ...                                    0
4                      38  ...                                    0

   Curricular units 2nd sem (enrolled)  \
0                                    0
1                                    6
2                                    6
3                                    6
4                                    6

   Curricular units 2nd sem (evaluations)  \
0                                       0
1                                       6
2                                       0
3                                      10
4                                       6

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    0                          0.000000
1                                    6                         13.666667
2                                    0                          0.000000
3                                    5                         12.400000
4                                    6                         13.000000

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                               0               10.8
1                                               0               13.9
2                                               0               10.8
3                                               0                9.4
4                                               0               13.9

   Inflation rate   GDP    Target
0             1.4  1.74   Dropout
1            -0.3  0.79  Graduate
2             1.4  1.74   Dropout
3            -0.8 -3.12  Graduate
4            -0.3  0.79  Graduate

[5 rows x 37 columns]

In [3]:
# Initial Data Exploration
print(df.shape)
print(df.info())

(4424, 37)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB
None

In [4]:
# Missing Values
missing = df.isnull().sum()
missing[missing > 0].sort_values(ascending=False)

# No missing values found

Series([], dtype: int64)

In [5]:
# Duplicate Rows
duplicates = df.duplicated().sum()
print("Duplicate rows:", duplicates)

# No duplicate rows found

Duplicate rows: 0

In [ ]:
# We are predicting whether a student will dropout or not 
# so the number of "Enrolled" student is irrelevant
# We only need to know whether a student graduated or dropedout. 
# So we are dropping the "Enrolled" values and going forward with "Graduate" & "Dropout" values.

df.drop(df[df['Target'] == 'Enrolled'].index, inplace = True)

In [7]:
# Converting Target Row to Numeric (for Heatmap)
df['Target'] = df['Target'].str.strip().map({'Dropout': 0, 'Graduate': 1})

In [8]:
# Updated Data Exploration
print(df.shape)
print(df.info())

(3630, 37)
<class 'pandas.core.frame.DataFrame'>
Index: 3630 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  3630 non-null   int64
 1   Application mode                                3630 non-null   int64
 2   Application order                               3630 non-null   int64
 3   Course                                          3630 non-null   int64
 4   Daytime/evening attendance	                     3630 non-null   int64
 5   Previous qualification                          3630 non-null   int64
 6   Previous qualification (grade)                  3630 non-null   float64
 7   Nacionality                                     3630 non-null   int64
 8   Mother's qualification                          3630 non-null   int64
 9   Father's qualification                          3630 non-null   int64
 10  Mother's occupation                             3630 non-null   int64
 11  Father's occupation                             3630 non-null   int64
 12  Admission grade                                 3630 non-null   float64
 13  Displaced                                       3630 non-null   int64
 14  Educational special needs                       3630 non-null   int64
 15  Debtor                                          3630 non-null   int64
 16  Tuition fees up to date                         3630 non-null   int64
 17  Gender                                          3630 non-null   int64
 18  Scholarship holder                              3630 non-null   int64
 19  Age at enrollment                               3630 non-null   int64
 20  International                                   3630 non-null   int64
 21  Curricular units 1st sem (credited)             3630 non-null   int64
 22  Curricular units 1st sem (enrolled)             3630 non-null   int64
 23  Curricular units 1st sem (evaluations)          3630 non-null   int64
 24  Curricular units 1st sem (approved)             3630 non-null   int64
 25  Curricular units 1st sem (grade)                3630 non-null   float64
 26  Curricular units 1st sem (without evaluations)  3630 non-null   int64
 27  Curricular units 2nd sem (credited)             3630 non-null   int64
 28  Curricular units 2nd sem (enrolled)             3630 non-null   int64
 29  Curricular units 2nd sem (evaluations)          3630 non-null   int64
 30  Curricular units 2nd sem (approved)             3630 non-null   int64
 31  Curricular units 2nd sem (grade)                3630 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  3630 non-null   int64
 33  Unemployment rate                               3630 non-null   float64
 34  Inflation rate                                  3630 non-null   float64
 35  GDP                                             3630 non-null   float64
 36  Target                                          3630 non-null   int64
dtypes: float64(7), int64(30)
memory usage: 1.1 MB
None

In [9]:
# cleaned data exploration
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,0
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,1
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,0
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,1
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,1

In [10]:
# save to data folder
df.to_csv("../data/cleaned-data.csv", index=False)