In [1]:
# USING PANDAS-PROFILING TO GENERATE REPORT
from ydata_profiling import ProfileReport
import pandas as pd

DATA_PATH = "../../data/featured-data.csv"
df = pd.read_csv(DATA_PATH)
profile = ProfileReport(
    df,
    title="Student Dropout Risk - Data Profiling Report",
    explorative=True
)

profile.to_file("../Automated-EDA Results/Pandas_Profiling.html")

c:\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
100%|██████████| 18/18 [00:00<00:00, 26.57it/s]0<00:00, 29.75it/s, Describe variable: Target]
Summarize dataset: 100%|██████████| 127/127 [00:45<00:00,  2.77it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:09<00:00,  9.25s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.86s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  9.91it/s]

In [2]:
# USING AUTOVIZ TO GENERATE VISUALIZATIONS
from autoviz.AutoViz_Class import AutoViz_Class
import pandas as pd

DATA_PATH = "../../data/featured-data.csv"
df = pd.read_csv(DATA_PATH)
AV = AutoViz_Class()

target_col = "Target"

AV.AutoViz(
    filename="",
    dfte=df,
    depVar=target_col,
    verbose=2,
    lowess=False,
    chart_format="png",
    max_rows_analyzed=5000,
    max_cols_analyzed=50
)

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
Shape of your Data Set loaded: (3630, 18)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
  Printing up to 30 columns (max) in each category:
    Numeric Columns : ['previous_qualification_grade', 'admission_grade', 'curricular_units_1st_sem_grade', 'curricular_units_2nd_sem_grade']
    Integer-Categorical Columns: ['marital_status', 'previous_qualification', 'age_at_enrollment', 'curricular_units_1st_sem_approved', 'curricular_units_2nd_sem_approved', 'curricular_units_2nd_sem_without_evaluations']
    String-Categorical Columns: []
    Factor-Categorical Columns: []
    String-Boolean Columns: []
    Numeric-Boolean Columns: ['daytime_evening_attendance', 'is_displaced', 'educational_special_needs', 'is_debtor', 'tuition_fees_up_to_date', 'gender', 'is_scholarship_holder']
    Discrete String Columns: []
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: []
    Columns that will not be considered in modeling: []
    17 Predictors classified...
        No variables removed since no ID or low-information variables found in data set

################ Binary_Classification problem #####################
   Columns to delete:
'   []'
   Boolean variables %s
("   ['daytime_evening_attendance', 'is_displaced', "
 "'educational_special_needs', 'is_debtor', 'tuition_fees_up_to_date', "
 "'gender', 'is_scholarship_holder']")
   Categorical variables %s
("   ['marital_status', 'previous_qualification', 'age_at_enrollment', "
 "'curricular_units_1st_sem_approved', 'curricular_units_2nd_sem_approved', "
 "'curricular_units_2nd_sem_without_evaluations', "
 "'daytime_evening_attendance', 'is_displaced', 'educational_special_needs', "
 "'is_debtor', 'tuition_fees_up_to_date', 'gender', 'is_scholarship_holder']")
   Continuous variables %s
("   ['previous_qualification_grade', 'admission_grade', "
 "'curricular_units_1st_sem_grade', 'curricular_units_2nd_sem_grade']")
   Discrete string variables %s
'   []'
   Date and time variables %s
'   []'
   ID variables %s
'   []'
   Target variable %s
'   Target'
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 1 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Total Number of Scatter Plots = 10
All Plots are saved in .\AutoViz_Plots\Target
Time to run AutoViz = 30 seconds

,marital_status,daytime_evening_attendance,previous_qualification,previous_qualification_grade,admission_grade,is_displaced,educational_special_needs,is_debtor,tuition_fees_up_to_date,gender,is_scholarship_holder,age_at_enrollment,curricular_units_1st_sem_approved,curricular_units_1st_sem_grade,curricular_units_2nd_sem_approved,curricular_units_2nd_sem_grade,curricular_units_2nd_sem_without_evaluations,Target
0,1,1,1,122.0,127.3,1,0,0,1,1,0,20,0,0.000000,0,0.000000,0,0
1,1,1,1,160.0,142.5,1,0,0,0,1,0,19,6,14.000000,6,13.666667,0,1
2,1,1,1,122.0,124.8,1,0,0,0,1,0,19,0,0.000000,0,0.000000,0,0
3,1,1,1,122.0,119.6,1,0,0,1,0,0,20,6,13.428571,5,12.400000,0,1
4,2,0,1,100.0,141.5,0,0,0,1,0,0,45,5,12.333333,6,13.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,1,1,1,125.0,122.2,0,0,0,1,1,0,19,5,13.600000,5,12.666667,0,1
3626,1,1,1,120.0,119.0,1,0,1,0,0,0,18,6,12.000000,2,11.000000,0,0
3627,1,1,1,154.0,149.5,1,0,0,1,0,1,30,7,14.912500,1,13.500000,0,0
3628,1,1,1,180.0,153.8,1,0,0,1,0,1,20,5,13.800000,5,12.000000,0,1
3629,1,1,1,152.0,152.0,1,0,0,1,0,0,22,6,11.666667,6,13.000000,0,1