In [1]:
# USING PANDAS-PROFILING TO GENERATE REPORT

from ydata_profiling import ProfileReport
import pandas as pd

DATA_PATH = "../../data/cleaned-data.csv"
df = pd.read_csv(DATA_PATH)
profile = ProfileReport(
    df,
    title="Student Dropout Risk - Data Profiling Report",
    explorative=True
)

profile.to_file("../EDA Results/eda_pandas_profiling.html")

c:\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
100%|██████████| 37/37 [00:00<00:00, 47.35it/s]1<00:00, 40.05it/s, Describe variable: Target]
Summarize dataset:  99%|█████████▉| 824/830 [04:25<00:02,  2.85it/s, Missing diagram bar]                                                                                   c:\Python311\Lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 9 (	) missing from font(s) Arial.
  plt.savefig(
Summarize dataset:  99%|█████████▉| 825/830 [04:27<00:03,  1.42it/s, Missing diagram matrix]c:\Python311\Lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 9 (	) missing from font(s) Arial.
  plt.savefig(
Summarize dataset: 100%|██████████| 830/830 [04:28<00:00,  3.09it/s, Completed]
Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]c:\Python311\Lib\site-packages\ydata_profiling\visualisation\utils.py:73: UserWarning: Glyph 9 (	) missing from font(s) Arial.
  plt.savefig(
Generate report structure: 100%|██████████| 1/1 [00:21<00:00, 21.60s/it]
Render HTML: 100%|██████████| 1/1 [00:09<00:00,  9.52s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  1.40it/s]

In [2]:
# USING AUTOVIZ TO GENERATE VISUALIZATIONS

from autoviz.AutoViz_Class import AutoViz_Class
import pandas as pd

DATA_PATH = "../../data/cleaned-data.csv"
df = pd.read_csv(DATA_PATH)
AV = AutoViz_Class()

target_col = "Target"

AV.AutoViz(
    filename="",
    dfte=df,
    depVar=target_col,
    verbose=2,
    lowess=False,
    chart_format="png",
    max_rows_analyzed=5000,
    max_cols_analyzed=50
)

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
Shape of your Data Set loaded: (3630, 37)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
  Printing up to 30 columns (max) in each category:
    Numeric Columns : ['Previous qualification (grade)', 'Admission grade', 'Curricular units 1st sem (grade)', 'Curricular units 2nd sem (grade)', 'Unemployment rate', 'Inflation rate', 'GDP']
    Integer-Categorical Columns: ['Marital status', 'Application mode', 'Application order', 'Course', 'Previous qualification', 'Nacionality', "Mother's qualification", "Father's qualification", "Mother's occupation", "Father's occupation", 'Age at enrollment', 'Curricular units 1st sem (credited)', 'Curricular units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', 'Curricular units 1st sem (approved)', 'Curricular units 1st sem (without evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units 2nd sem (approved)', 'Curricular units 2nd sem (without evaluations)']
    String-Categorical Columns: []
    Factor-Categorical Columns: []
    String-Boolean Columns: []
    Numeric-Boolean Columns: ['Daytime/evening attendance\t', 'Displaced', 'Educational special needs', 'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', 'International']
    Discrete String Columns: []
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: []
    Columns that will not be considered in modeling: []
    36 Predictors classified...
        No variables removed since no ID or low-information variables found in data set

################ Binary_Classification problem #####################
   Columns to delete:
'   []'
   Boolean variables %s
("   ['Daytime/evening attendance\\t', 'Displaced', 'Educational special "
 "needs', 'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', "
 "'International']")
   Categorical variables %s
("   ['Marital status', 'Application mode', 'Application order', 'Course', "
 '\'Previous qualification\', \'Nacionality\', "Mother\'s qualification", '
 '"Father\'s qualification", "Mother\'s occupation", "Father\'s occupation", '
 "'Age at enrollment', 'Curricular units 1st sem (credited)', 'Curricular "
 "units 1st sem (enrolled)', 'Curricular units 1st sem (evaluations)', "
 "'Curricular units 1st sem (approved)', 'Curricular units 1st sem (without "
 "evaluations)', 'Curricular units 2nd sem (credited)', 'Curricular units 2nd "
 "sem (enrolled)', 'Curricular units 2nd sem (evaluations)', 'Curricular units "
 "2nd sem (approved)', 'Curricular units 2nd sem (without evaluations)', "
 "'Daytime/evening attendance\\t', 'Displaced', 'Educational special needs', "
 "'Debtor', 'Tuition fees up to date', 'Gender', 'Scholarship holder', "
 "'International']")
   Continuous variables %s
("   ['Previous qualification (grade)', 'Admission grade', 'Curricular units "
 "1st sem (grade)', 'Curricular units 2nd sem (grade)', 'Unemployment rate', "
 "'Inflation rate', 'GDP']")
   Discrete string variables %s
'   []'
   Date and time variables %s
'   []'
   ID variables %s
'   []'
   Target variable %s
'   Target'
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 28
All Plots are saved in .\AutoViz_Plots\Target
Time to run AutoViz = 147 seconds

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,Mother's occupation,Father's occupation,Admission grade,Displaced,Educational special needs,Debtor,Tuition fees up to date,Gender,Scholarship holder,Age at enrollment,International,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,0
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,1
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,0
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,1
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3625,1,1,6,9773,1,1,125.0,1,1,1,5,4,122.2,0,0,0,1,1,0,19,0,0,6,7,5,13.600000,0,0,6,8,5,12.666667,0,15.5,2.8,-4.06,1
3626,1,1,2,9773,1,1,120.0,105,1,1,9,9,119.0,1,0,1,0,0,0,18,1,0,6,6,6,12.000000,0,0,6,6,2,11.000000,0,11.1,0.6,2.02,0
3627,1,1,1,9500,1,1,154.0,1,37,37,9,9,149.5,1,0,0,1,0,1,30,0,0,7,8,7,14.912500,0,0,8,9,1,13.500000,0,13.9,-0.3,0.79,0
3628,1,1,1,9147,1,1,180.0,1,37,37,7,4,153.8,1,0,0,1,0,1,20,0,0,5,5,5,13.800000,0,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,1
3629,1,10,1,9773,1,1,152.0,22,38,37,5,9,152.0,1,0,0,1,0,0,22,1,0,6,8,6,11.666667,0,0,6,6,6,13.000000,0,12.7,3.7,-1.70,1